$background: #21252B;
$button: #007399;
$textColor: #F3F3F3;
$dangerButton: #E81123;
$goodButton: #74882b;

.root {
    -fx-background-color: lighten($background, 10%);
}

.list-view {
    -fx-text-fill: $textColor;
    -fx-background-color: lighten($background, 15%);
}

.button {
    -fx-padding: 10px;
    -fx-text-fill: $textColor;
    -fx-background-color: $button;
    &:hover {
        -fx-background-color: lighten($button, 10%);
    }
    &:pressed {
        -fx-background-color: darken($button, 10%);
    }
}

.danger {
    -fx-background-color: $dangerButton;
    &:hover {
        -fx-background-color: lighten($dangerButton, 10%);
    }
    &:pressed {
        -fx-background-color: darken($dangerButton, 10%);
    }
}

.good {
    -fx-background-color: $goodButton;
    &:hover {
        -fx-background-color: lighten($goodButton, 10%);
    }
    &:pressed {
        -fx-background-color: darken($goodButton, 10%);
    }
}


.text-field {
    -fx-background-color: darken($textColor, 20%);
    -fx-padding: 10px;
    -fx-prompt-text-fill: darken($textColor, 50%);
}

.menu-bar{
    -fx-background-color: lighten($background, 5%);
    .context-menu {
        -fx-background-color: lighten($background, 5%);
    }
}

.menu .label{
    -fx-text-fill: $textColor;
}
